<ul class="list">
  <li *ngFor="let item of list">
    <span>{{item.name}}</span>
    <i (click)="show($event, item)" ></i>
  </li>
</ul>

<button (click)="test()">测试跳转</button>


<ng-template #operationTpl let-item>
  <ul class="op">
    <li (click)="deleteItem(item)">删除</li>
    <li (click)="deleteItem(item)">删除</li>
    <li (click)="deleteItem(item)">删除</li>
    <li (click)="deleteItem(item)">删除</li>
    <li (click)="deleteItem(item)">删除</li>
    <li (click)="deleteItem(item)">删除</li>
    <li (click)="deleteItem(item)">删除</li>
    <li (click)="deleteItem(item)">删除</li>
    <li (click)="deleteItem(item)">删除</li>
    <li (click)="deleteItem(item)">删除</li>
    <li (click)="deleteItem(item)">删除</li>
    <li (click)="deleteItem(item)">删除</li>
    <li (click)="deleteItem(item)">删除</li>
    <li (click)="deleteItem(item)">删除</li>
  </ul>
</ng-template>
